


SELECT

    ZC_ADM_SOURCE.ADMIT_SOURCE_C AS SOURCE_CODE ,
    ZC_ADM_SOURCE.NAME AS SOURCE_NAME,
    COUNT(PAT_ENC_HSP.PAT_ENC_CSN_ID) AS SOURCE_FREQUENCY 
FROM
    SH_LAND_EPIC_CLARITY_PROD.DBO.PAT_ENC_HSP
INNER JOIN SH_LAND_EPIC_CLARITY_PROD.DBO.ZC_PAT_CLASS ON
    PAT_ENC_HSP.ADT_PAT_CLASS_C = ZC_PAT_CLASS.ADT_PAT_CLASS_C
INNER JOIN SH_LAND_EPIC_CLARITY_PROD.DBO.ZC_ADM_SOURCE ON
    PAT_ENC_HSP.ADMIT_SOURCE_C = ZC_ADM_SOURCE.ADMIT_SOURCE_C
INNER JOIN SH_LAND_EPIC_CLARITY_PROD.DBO.ZC_DISCH_DISP ON
    PAT_ENC_HSP.DISCH_DISP_C = ZC_DISCH_DISP.DISCH_DISP_C
GROUP BY
    ZC_ADM_SOURCE.ADMIT_SOURCE_C ,
    ZC_ADM_SOURCE.NAME
       


