/****** EpicClarity  ******/
--SELECT
--    ZC_ETHNIC_GROUP.ETHNIC_GROUP_C AS Code,
--    ZC_ETHNIC_GROUP.NAME AS EnglishTerm,
--    COUNT([PATIENT].PAT_ID) AS Count
--FROM
--    [PATIENT]
--INNER JOIN ZC_ETHNIC_GROUP ON
--    [PATIENT].ETHNIC_GROUP_C = ZC_ETHNIC_GROUP.ETHNIC_GROUP_C
--GROUP BY
--    ZC_ETHNIC_GROUP.ETHNIC_GROUP_C,
--    ZC_ETHNIC_GROUP.NAME

/****** Snowflake  ******/
SELECT
    ZC_ETHNIC_GROUP.ETHNIC_GROUP_C AS Source_Code,
    ZC_ETHNIC_GROUP.NAME AS Source_Name,
    COUNT(PATIENT.PAT_ID) AS Source_Frequency
FROM
    SH_LAND_EPIC_CLARITY_PROD.DBO.PATIENT
INNER JOIN SH_LAND_EPIC_CLARITY_PROD.DBO.ZC_ETHNIC_GROUP ON
    PATIENT.ETHNIC_GROUP_C = ZC_ETHNIC_GROUP.ETHNIC_GROUP_C
GROUP BY
    ZC_ETHNIC_GROUP.ETHNIC_GROUP_C,
    ZC_ETHNIC_GROUP.NAME