--/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT
--    ZC_SEX.RCPT_MEM_SEX_C AS Code,
--    ZC_SEX.NAME AS EnglishTerm,
--    COUNT([PATIENT].PAT_ID) AS Count
--FROM
--    [PATIENT]
--INNER JOIN ZC_SEX ON
--    [PATIENT].ETHNIC_GROUP_C = ZC_SEX.RCPT_MEM_SEX_C
--GROUP BY
--    ZC_SEX.RCPT_MEM_SEX_C,
--    ZC_SEX.NAME
    
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT
    ZC_SEX.RCPT_MEM_SEX_C AS SOURCE_CODE,
    ZC_SEX.NAME AS SOURCE_NAME,
    COUNT(PATIENT.PAT_ID) AS SOURCE_FREQUENCY
FROM
    SH_LAND_EPIC_CLARITY_PROD.DBO.PATIENT
INNER JOIN SH_LAND_EPIC_CLARITY_PROD.DBO.ZC_SEX ON
    PATIENT.ETHNIC_GROUP_C = ZC_SEX.RCPT_MEM_SEX_C
GROUP BY
    ZC_SEX.RCPT_MEM_SEX_C,
    ZC_SEX.NAME    