/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT
--    ZC_PATIENT_RACE.PATIENT_RACE_C AS Code,
--    ZC_PATIENT_RACE.NAME AS EnglishTerm,
--    COUNT(PATIENT_RACE.PAT_ID) AS Count
--FROM
--    ZC_PATIENT_RACE
--INNER JOIN PATIENT_RACE ON
--    ZC_PATIENT_RACE.PATIENT_RACE_C = PATIENT_RACE.PATIENT_RACE_C
--GROUP BY
--    ZC_PATIENT_RACE.PATIENT_RACE_C,
--    ZC_PATIENT_RACE.NAME
--    
/****** Snowflake  ******/
SELECT
    ZC_PATIENT_RACE.PATIENT_RACE_C AS SOURCE_CODE,
    ZC_PATIENT_RACE.NAME AS SOURCE_NAME,
    COUNT(PATIENT_RACE.PAT_ID) AS SOURCE_FREQUENCY
FROM
    SH_LAND_EPIC_CLARITY_PROD.DBO.ZC_PATIENT_RACE
INNER JOIN SH_LAND_EPIC_CLARITY_PROD.DBO.PATIENT_RACE ON
    ZC_PATIENT_RACE.PATIENT_RACE_C = PATIENT_RACE.PATIENT_RACE_C
GROUP BY
    ZC_PATIENT_RACE.PATIENT_RACE_C,
    ZC_PATIENT_RACE.NAME    