/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT      ZC_SPECIALTY.SPECIALTY_C   AS CODE, ZC_SPECIALTY.NAME AS ENGLISH, COUNT(CLARITY_SER.PROV_ID) AS COUNT
--FROM            CLARITY_SER INNER JOIN
--                         D_PROV_PRIMARY_HIERARCHY ON CLARITY_SER.PROV_ID = D_PROV_PRIMARY_HIERARCHY.PROV_ID INNER JOIN
--                         ZC_SPECIALTY ON D_PROV_PRIMARY_HIERARCHY.SPECIALTY_C = ZC_SPECIALTY.SPECIALTY_C
--GROUP BY ZC_SPECIALTY.SPECIALTY_C, ZC_SPECIALTY.NAME

--Convert to Snowflake
SELECT      
	TO_NUMERIC(ZC_SPECIALTY.SPECIALTY_C)   	AS SOURCE_CODE, 
	ZC_SPECIALTY.NAME 						AS SOURCE_NAME, 
	COUNT(CLARITY_SER.PROV_ID) 				AS SOURCE_FREQUENCY
FROM  SH_LAND_EPIC_CLARITY_PROD.DBO.CLARITY_SER AS CLARITY_SER
	INNER JOIN SH_LAND_EPIC_CLARITY_PROD.DBO.D_PROV_PRIMARY_HIERARCHY AS D_PROV_PRIMARY_HIERARCHY
		ON CLARITY_SER.PROV_ID = D_PROV_PRIMARY_HIERARCHY.PROV_ID 
	INNER JOIN SH_LAND_EPIC_CLARITY_PROD.DBO.ZC_SPECIALTY AS ZC_SPECIALTY
		ON D_PROV_PRIMARY_HIERARCHY.SPECIALTY_C = ZC_SPECIALTY.SPECIALTY_C
GROUP BY ZC_SPECIALTY.SPECIALTY_C, ZC_SPECIALTY.NAME
ORDER BY SOURCE_FREQUENCY DESC
