----EpicClarity
--	
--SELECT        COUNT('ORDER_RESULTS.*') AS COUNT, ORDER_RESULTS.Reference_unit AS CODE, ORDER_RESULTS.Reference_unit AS ENGLISH
--FROM            EpicClarity.dbo.ORDER_RESULTS LEFT OUTER JOIN
--                         EpicClarity.dbo.ZC_RESULT_FLAG ON ORDER_RESULTS.RESULT_FLAG_C = ZC_RESULT_FLAG.RESULT_FLAG_C LEFT OUTER JOIN
--                         EpicClarity.dbo.ZC_RESULT_STATUS ON ORDER_RESULTS.RESULT_STATUS_C = ZC_RESULT_STATUS.RESULT_STATUS_C
--WHERE        (ISNUMERIC(ORDER_RESULTS.ORD_VALUE) <> 1) AND 
--                         (ISNUMERIC(REPLACE(REPLACE(REPLACE(ORDER_RESULTS.ORD_VALUE, '=', ''), '<', ''), '>', '')) <> 1)
--						 
--GROUP BY ORDER_RESULTS.Reference_unit
--
--HAVING COUNT('ORDER_RESULTS.*')  > 1
--
--ORDER BY COUNT('ORDER_RESULTS.*') DESC

--Snowflake

SELECT
    ORDER_RESULTS.REFERENCE_UNIT AS SOURCE_CODE,
    ORDER_RESULTS.REFERENCE_UNIT AS SOURCE_NAME,
    COUNT('ORDER_RESULTS.*') AS SOURCE_FREQUENCY
FROM
    SH_LAND_EPIC_CLARITY_PROD.DBO.ORDER_RESULTS
LEFT OUTER JOIN SH_LAND_EPIC_CLARITY_PROD.DBO.ZC_RESULT_FLAG ON
    ORDER_RESULTS.RESULT_FLAG_C = ZC_RESULT_FLAG.RESULT_FLAG_C
LEFT OUTER JOIN SH_LAND_EPIC_CLARITY_PROD.DBO.ZC_RESULT_STATUS ON
    ORDER_RESULTS.RESULT_STATUS_C = ZC_RESULT_STATUS.RESULT_STATUS_C
WHERE ORDER_RESULTS.REFERENCE_UNIT IS NOT NULL 
      AND ORDER_RESULTS.REFERENCE_UNIT NOT LIKE 'CD:%'
--AND 
--    (TRY_TO_NUMERIC(ORDER_RESULTS.ORD_VALUE) IS NULL)
--    AND (TRY_TO_NUMERIC(REPLACE(REPLACE(REPLACE(REPLACE(ORD_VALUE, '=', ''), '<', ''), '>', ''), ',', '')) IS NULL)
GROUP BY
    ORDER_RESULTS.REFERENCE_UNIT
HAVING
    COUNT('ORDER_RESULTS.*') > 1
ORDER BY
    COUNT('ORDER_RESULTS.*') DESC